@font-face {
    font-family: 'Josefin';
    src: url('jos.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'LRed';
    src: url('lred.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'League';
    src: url('lea.ttf') format('truetype');
    font-display: swap;
}

:root
{
  --gap: 10px;
  --darkblue: #0c073d;
  --yorange: #FCB21B;
  --white: #F6F5F5;
}

h1, h2, h3, h4
{
  font-family: 'LRed', impact, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--white);
}

p#codingMessage {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body
{
  margin:0px;
}

h1
{
  font-size: 113px;
}

.sec-heading
{
  font-size: 66px;
  rotate: -4deg;
  transform: skew(-5deg, 0deg);
}

.hero
{
}

.work, .blog, .contact
{

}

.bblue
{
  background-color: var(--darkblue);

}

.tblue
{
  color: var(--darkblue);
}

.h100
{
  /* height: 100vh; */
}

p
{
  font-family: 'Josefin', verdana, sans-serif;
  /* text-transform: uppercase;
  font-weight: normal; */
  line-height: 1.8em;
  color: var(--white);
}

section {
    /* width: 100vw; */
    /* height: 100vh; */
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* gap: 50px; */
    /* background-color: #f0f0f0; */ /* Example background */
}

.fixed-width {
    width: 1200px; /* Fixed width */
    display: flex;
     /* Example height */
    /* gap: 50px; */
    justify-content: center;
    align-items: center;
}

.hero-left, .hero-right {
    flex: 1; /* Equal width columns */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    /* align-items: center; */ /* Center horizontally */
}

.hero-left {
/* padding-top: 50px;
padding-bottom: 50px; */
}

.hero-heading {
    /* font-size: 2.5rem; */
    /* margin-bottom: 1rem; */
    margin: 10px 0px 32px;
    line-height: 95px;
    rotate: -4deg;
    transform: skew(-5deg, 0deg);
}

.hero-subtitle {
    font-size: 14px;
    /* margin-bottom: 2rem; */
}

.hero-button {
    padding: 0.8rem 1.5rem;
    background-color: var(--yorange);
    color: var(--darkblue);
    border: none;
    cursor: pointer;
    width: 411px;
    font-family: 'Josefin', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2em;
    margin-top: 65px;
}

.code-loading
{
position: absolute;
}

.hero-right{
  /* background-color: #c1c1c1; */
  /* justify-content: start; */
  align-items: center;
  height: 700px;
}

/* code gen load screen */
.div-line {
    display: flex;
    margin-bottom: var(--gap);
}

.code-block {
    width: 20px;
    height: 17px;
    margin-right: var(--gap);
    display: inline-block;
    border-right: 5px solid #00000057;
    border-top: 4px solid #ffffff75;
    position: relative;
    box-sizing: border-box;
    opacity: 0;
}

.code-block:before {
    content: '';
    border-top: 9px solid #0c073d;
    border-right: 9px solid transparent;
    width: 0;
}

.code-block:after {
    content: '';
    position: absolute;
    right: -5px;
    bottom: -1px;
    border-top: 6px solid transparent;
    border-right: 6px solid #0c073d;
    width: 0;
}

#heroCanvas
{
  width:100%; height: 100%;
  /* border: 1px solid green; */
}



.flex-column
{
  flex-direction: column;
}

.josecaps
{
  font-family: "Josefin";
  color: var(--yorange);
}

.blog .sec-heading {
    margin-bottom: 10px;
}

/* load after */

#contactCanvas
{
  width: 100%;
  height: 500px;
  border: 1px solid green;
}

.left-col, .right-col
{
  width: 50%;
}

.opZero
{
  opacity: 0;
}

.fadeIn
{
  animation: fadeIn 1s ease forwards;
  animation-delay: var(--fade-delay, 0s);
}

@keyframes fadeIn
{
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 1;
  }
}
